
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking succesfully Recorded!</h2>


<h4>You will be notified if the celebrity has accepted your request within 48 hours</h4>

